chardet==3.0.4
Click==7.0
Django==2.1.15
Flask==1.1.1
Flask-Session==0.3.1
Flask-SocketIO==4.2.1
gevent==1.4.0
gevent-websocket==0.10.1
greenlet==0.4.15
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
psutil==5.6.3
python-engineio==3.9.3
python-socketio==4.3.1
pytz==2019.2
six==1.12.0
sqlparse==0.3.0
uWSGI==2.0.18
Werkzeug==0.15.5
